body{
	margin:0;
	width:auto;
}
#container3{
	height: 1100px;
	width: 100%;
	background: url(http://i.imgur.com/yDp6798.png);
	background-attachment: fixed;
	position: relative;
}
#top{
	height:205px;
	width:1000px;
	color:white;
	border-radius: 10px;
	display:inline-block;
	padding:15px;
	position:absolute;
	top:5%;
	left:20%;
}
#sorry{
	width: 450px;
	right: 100px;
	font-size:35px;
	font-family: Helvetica;
	position:absolute;
	top:70px;
	left:55%;
	display: inline;
}
#image{
	width:250px;
	height:250px;
	display: inline;
	border-radius: 138px;
	position:absolute;
	top:-2.5%;
	left:25%;
}
#stuff
{
	width:1000px;
	height:500px;
	border-radius: 10px;
	padding:15px;
	position:relative;
	top:30%;
	left:25%;
}
#ada{
	width:400px;
	height:400px;
	border-top:solid 20px #BABABA;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom:solid 20px #BABABA;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position:absolute;
	top:10%;
	left:7%;
}
#idk{
	width:auto;
	height:auto;
	font-family:Helvetica;
	border-top:solid 20px #BABABA;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom:solid 20px #BABABA;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position:absolute;
	top:25%;
	left:50%;
}
#results{
	position: absolute;
	border-top:solid 20px #BABABA;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom:solid 20px #BABABA;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	color:white;
	width:500px;
	left:620px;
	top:560px;
}
ul{
	list-style:none;
	font-size: 25px
}
a{
	text-decoration:none;
	color:white;
}
a:hover{
	color:#BABABA;
	text-decoration:underline;
}