body{
	margin:0;
}
#container{
	height: 1100px;
	width: 100%;
	background: url(http://i.imgur.com/yDp6798.png);
	background-attachment: fixed;
	position: relative;
}
#top{
	height: 140px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2F353B;
	padding: 20px 0px 20px 0px;
	margin: 0;
	position: absolute;
	left:25%;
	border-radius: 20px;	
}
#topbox{
	height: 140px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #0A0A0A;
	position: absolute;	
}
#company{
	color:white;
	font-size: 40px;
	font-family: Helvetica;
	font-weight: bold;
	padding: 45px 150px 0px 150px;
	width: 450px;
	float: left;
}
#logo{
	float: right;
	margin-right: 45px;
	border-radius: 10px;
}
#adadiv{
	width: 560px;
	height: 602px;*/
	width: 357px;
	height: 400px;
	float: left;
	margin-top:300px;
	margin-left: 25%;
	position: absolute;
	background-color: #2F353B;
	border-radius: 10px;
}
#ada{
	width: 100%;
	height: 357px;
	margin-top: 5%;
}
#searchdiv{
	width: 600px;
	height: 50px;
	margin-top: 450px;
	margin-left: 45%;
	position: absolute;
}
.innerdiv{
	width: 600px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
}
.innerdiv input#search{
	width: 600px;
	height: 50px;
	background:#2b303b;
	border:none;
	font-size: 10pt;
	float: left;
	color: #63717f;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	-webkit-transition:background .55s ease;
	-moz-transition:background .55s ease;
	-ms-transition:background .55s ease;
	-o-transition:background .55s ease;
	transition:background .55s ease;
}
.innerdiv input#search::-webkit-input-placeholder {
	color: #65737e;
}
 
.innerdiv input#search:-moz-placeholder { /* Firefox 18- */
	color: #65737e;  
}
 
.innerdiv input#search::-moz-placeholder {  /* Firefox 19+ */
	color: #65737e;  
}
 
.innerdiv input#search:-ms-input-placeholder {  
	color: #65737e;  
}

.innerdiv input#search:hover, .innerdiv input#search:focus, .innerdiv input#search:active{
	outline:none;
	background:#fff;
}
.innerdiv button.icon{
	-webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 
    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #white;
    opacity: 0;
    font-size: 10pt;
 
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}
.innerdiv:hover button.icon, innerdiv:active button.icon, innerdiv:focus button.icon{
	outline: none;
	opacity: 1;
	margin-left: -50px;
}
.innerdiv:hover button.icon:hover{
	background:white;
}

#copy{
	clear: both;
	color: #BABABA;
	font-family:Arial;
	font-size: 12px;
	margin-top: 950px;
	margin-left: 25%;
	position: absolute;	
	width: 70%;	
}




